@font-face {
    font-family: minecraft;
    src: url("fontes/Minecraft.ttf");
}

body{
    font-family: minecraft;
    background-image: url("outras_imagens/terra.jpg");
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerPreto{
    width: 100%;
    height: 65%;
    background-color: rgba(0, 0, 0, 0.532);
    border: 3px solid black;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagem{
    width: 10%;
    height:60%;
    margin:0;
    padding:0;
    border:4px solid rgb(214, 214, 214);
    border-style: inset ;


}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin:0;
    padding:0
}

.descricao{
    padding: 0;
    margin: 0;
    height:50%;
}
.aluna{
    display: flex;
    padding-left: 15%;
    gap: 4%;
    width:100%;

}

p{
    padding-top: 0;
    margin: 0;
    line-height: 2em;
    font-family: minecraft;
    font-size: 1em;
    object-fit: contain;
    color: rgb(214, 214, 214);
}

h3{
    font-size: 1.5em;
    position: relative;
    text-align:center;
    color: rgb(214, 214, 214);
    text-shadow: 2px 3px black;
    letter-spacing: 2px;
}

button{
    font-family: minecraft;
    color: rgb(211, 210, 210);
    font-size: 1.7em;
    width: 40vw;
    font-weight: lighter;   
    height: auto;
    min-height: 7vh;
    background-image: url("outras_imagens/bgbtn.png");
    background-size: 140%;
    image-rendering: pixelated;
    overflow: hidden;
    border: 3px solid black;
    box-shadow: inset 3px 3px 0 0px rgb(165, 164, 164), 
    inset 0 -8px 8px -4px rgb(79, 79, 79);
    letter-spacing: 2px;
    text-align:center;
    margin:auto;
    margin-bottom: 20px;
    text-shadow: 1px 3px black;
    cursor: pointer;
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-image: url("outras_imagens/Designer.png");
    color: yellow;
}

button:visited, button{
    color:aliceblue;    
    text-decoration: none;
    font-family: minecraft;
}
